{% extends "_base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/submenu.css') }}"/>
{% endblock %}

{% block app_content %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">数据管理</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">公司简介<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for("data.description") }}">公司简介</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            财务 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">理财</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">消费</a>
                          <ul class="dropdown-menu">
                                    <li><a href="#">消费明细</a></li>
                                    <li class="divider"></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block data_content %}{% endblock %}
    </div>
    <br />
{% endblock %}