{% extends 'bootstrap/base.html' %}

    {% block head %}
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" href="#">
                    <div style="vertical-align: bottom">
                        <img src="{{ url_for("static", filename="logo.JPG") }}" style="width: 50px;">
                        <span style="font-weight: bold; font-size: large; color: #000000">&nbsp;&nbsp;{{ title }}</span>
                    </div>
                </div>
            </div>
            <div style="position: absolute; bottom: 0; right: 5%">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">主页</a></li>
                        <li><a href="#">新闻中心</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">办公地址</a></li>
                        <li><a href="#">联系方式</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                下拉菜单 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">下拉菜单</a></li>
                                <li class="divider"></li>
                                <li><a href="#">EJB</a></li>
                                <li><a href="#">分离的链接</a></li>
                            </ul>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
        {% block out_container %}{% endblock %}
        <hr />
        <div class="container" style="width: 100%">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block app_content %}{% endblock %}
        </div>

        <div class="jumbotron" style="background-color: black">
            <div style="text-align: center"><font color="#f0ffff" style="font-weight: 700">版权所有(C){{ title }}</font></div>
            <br />
            <div style="text-align: center">
                <a href="http://www.beian.miit.gov.cn/" target="_blank">
                    <img src="http://download.sangfor.com.cn/Uploads/Editor/gongwang/gongwang.png" style="height: 20px">
                </a>
                    &nbsp;
                <a href="http://www.beian.miit.gov.cn/" target="_blank">
                    <font color="#f0ffff" style="font-weight: 700">备案号：蜀ICP备19036031号-1</font>
                </a>
            </div>
        </div>
    {% endblock %}

