{% extends 'bootstrap/base.html' %}

    {% block head %}
        <title>
        {% if title %}
            {{ title }}
        {% else %}
            四川欣盛宏源安全技术服务责任有限公司
        {% endif %}
        </title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/hao.min.js') }}"></script>
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
        <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
        <script src="{{ url_for('static', filename='js/hao.min.js') }}"></script>

        <script type="application/javascript">
            function mouse_over_click(id) {
                document.getElementById(id).click();
            }
        </script>
    {% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" href="#">
                    <div style="vertical-align: bottom">
                        <img src="{{ url_for("static", filename="logo.JPG") }}" style="width: 50px;">
                        <span style="font-weight: bold; font-size: large; color: #000000">&nbsp;&nbsp;{{ title }}</span>
                    </div>
                </div>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索内容...">
                </div>
                <button type="submit" class="btn btn-danger">搜索</button>
            </form>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
        <div class="container">
            <ul class="nav nav-pills">
                <li {% if main_page=="home" %}class="active"{% endif %}>
                    <a onclick=window.location.href="{{ url_for("main.index") }}" style="cursor: pointer">主页</a></li>
                <li {% if main_page=="description" %}class="active"{% endif %}>
                    <a onclick=window.location.href="{{ url_for("main.description") }}" style="cursor: pointer;">公司简介</a></li>
                <li><a href="#">新闻中心</a></li>
                <li><a href="#">办公地址</a></li>
                <li><a href="#">联系方式</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="main_selects" href="#"
                       onmouseover=mouse_over_click("main_selects")>
                        下拉菜单 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">下拉菜单</a></li>
                        <li class="divider"></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">分离的链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="background-image: url('/static/images/description.jpg'); background-size: cover;
    height: 200px; width: 100%"></div>
        {% block out_container %}{% endblock %}
        <div class="container" style="width: 100%; background-color: #c3c3c3" >
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <br />
            {% block app_content %}{% endblock %}
        </div>

        <div class="jumbotron" style="background-color: black">
            <div style="text-align: center"><font color="#f0ffff" style="font-weight: 700">版权所有(C){{ title }}</font></div>
            <br />
            <div style="text-align: center">
                <a href="http://www.beian.miit.gov.cn/" target="_blank">
                    <img src="http://download.sangfor.com.cn/Uploads/Editor/gongwang/gongwang.png" style="height: 20px">
                </a>
                    &nbsp;
                <a href="http://www.beian.miit.gov.cn/" target="_blank">
                    <font color="#f0ffff" style="font-weight: 700">备案号：蜀ICP备19036031号-1</font>
                </a>
            </div>
        </div>
    {% endblock %}

